<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          As a Full-Stack Software Engineer, I am fundamentally a problem solver
          dedicated to delivering innovative software solutions. Over the past
          five years, I have honed my expertise in developing software that
          prioritizes organizational success and customer satisfaction. My
          commitment to excellence drives me to continuously improve and adapt,
          ensuring that the solutions I create not only meet but exceed
          expectations.
        </p>
        <p>
          I am passionate about solving complex engineering problems and thrive
          on the challenge of creative problem-solving. At the same time, I am
          deeply interested in strategic, big-picture thinking, which aligns
          with my aspirations for an executive role. My ability to synthesize
          and process new information, combined with my interdisciplinary
          knowledge, enables me to contribute to planning and decision-making
          processes that drive modern technological solutions. My personality
          type is consistently
          <a href="https://www.16personalities.com/intj-personality">INTJ-T</a>
          summarized as "thoughtful tacticians that love perfecting the details
          of life, applying creativity and rationality to everything they do.
          Their inner world is often a private, complex one". Employers may be
          interested in my star qualities as determined by
          <a
            href="https://hire.scoutible.com/profile/share/ag9zfnNjb3V0aWJsZS1hcHByEQsSBFVzZXIYgIDA0q-o3ggM"
            >scoutible</a
          >. A game that analysis users strengths using millions of data points
          read more on it
          <a
            href="https://getfive.com/blog/scoutible-is-it-a-game-changer-for-hiring/"
            >here.</a
          >
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top: 0">Highlights</h3>
        <ul>
          <li>
            Over my career I have consistently gained the trust of peers to
            design, test, and implement solutions independently, demonstrating
            my ability to research and work with new tools/technologies
            effectively.
          </li>
          <li>
            Invited to participate in strategic meetings typically reserved for
            senior roles even as an intern.
          </li>
          <li>
            Successfully transitioned from contract work to becoming part of the
            Amazon Robotics team, collaborating with and learning from some of
            the best engineers in the world.
          </li>
          <li>
            Automated a complex weekly report for the Massachusetts Bay
            Transportation Authority (MBTA), significantly improving efficiency.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
