<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
                I'm currenty an embedded software engineer at GDMS. But I do a bit of everything and my day to day
                is more full-stack development. I'm working on a project that includes an embedded system written in C++
                with a web application as its management interface.
        </p>
        <p>
            I love growing and improving my skill set.
            While hard engineering problems that require creative problem solving will always be fun for me.
            My strength is big picture thinking. I often find myself being brought in on planning meetings
            with management. In the future, I see myself as a project director.

            My personality type is consistently <a href = "https://www.16personalities.com/intj-personality">INTJ-T</a> summarized as "thoughtful tacticians that love perfecting the details
            of life, applying creativity and rationality to everything they do. Their inner world is often a private, complex one".

            Employers may be interested in my star qualities as determined by <a href = "https://hire.scoutible.com/profile/share/ag9zfnNjb3V0aWJsZS1hcHByEQsSBFVzZXIYgIDA0q-o3ggM">scoutible</a>. 
            A game that analysis users strengths using millions of data points read more on it <a href = "https://getfive.com/blog/scoutible-is-it-a-game-changer-for-hiring/">here.</a>
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Automated a weekly progress report for the procurement and logistics department at the MBTA.
    			</li>
          <li>
            Conducted research and proof-of-concept to convince team to move from Angularjs to React.
          <li>
            Assisted with high level project management and decision making both as an intern and an entry level hire.
    			<li>
            Designed light/alcohol sensing robot.
    			</li>
          <li>
            Created an automatic portfolio balancing script using python and selenium.
          </li>
              
		    </ul>
	    </div>
    </div>
  </div>
</section>
