<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
                I am a 3rd Year at Northeastern University. I have experience as full-stack developer. Due to my engineering
                background I am proficient in c++ and have knowledge of computer architecture and organization as well
                as circuit analysis/design.
        </p>
        <p>
            I love growing and improving my skill set.
            While building creative UI and well built front ends is intrinsically fun,
            I'm most attracted to hard engineering problems that require creative problem solving.
            I do consider the overall goal/mission of my project is important but currently I am prioritizing preparing
            for a career that will allow me to contribute to complex projects that make me proud to call
            myself a human.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Automated a weekly progress report for the procurement and logistics department at the MBTA.
    			</li>
          <li>
            Conducted research and proof-of-concept to convince team to move from Angularjs to React.
          <li>
            Assisted with high level project management and decision making.
    			<li>
            Designed light/alcohol sensing robot.
    			</li>
                <li>
                    Researched and optimized a neural networks performance for recognition of number in images.
                </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
