<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Gaming</b> Nowadays, I only play to as a way to connect with my friends and just have fun by I tend to reach ranks in competitive games that put me at around
				 top 1-10%. In other words, just under the point where I have to devote my life to a specific game.
			  </li>
			  <li>
				  <b>Racing</b> Karting is always a bunch of fun and I wish I could race more but it tends to be very expensive. I love to drive and ocassionally watch formula 1.
				  I hope to get a racing sim soon! 
			  </li>
			  <li>
				  <b>Investing</b> I consider myself quite financially savvy despite my age. I've always been very good at managing resources.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Personal mission statement</h3>
		  <ul>
  			<li>
          		My purpose in life can be summarized by the folloing quote from socrates: 
				"It is a shame for a man to grow old without seeing the beauty and strength of which his body is capable". For me, this goes
				beyond physical training. I want apply my gifts and talents and rejoice in one I can do and create.
    		</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
