<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Learning skills</b>. I have a very competitive nature and I love feeling immersed in my hobbies. When I see someone do something impressive I think
				  of how amazing it must feel to accomplish such a feat. I find joy in working towards what I think will feel amazing to accomplish. Below are two examples of current active hobbies
				  (actual list is much too long).
			  </li>
			  <li>
				  <b>Rocket League</b>. A Competitive video game that is essentially car soccer with a high skill ceiling. Estimated 50 million players worldwide with professional
				  leagues in EU, Brazil, NA, and Oceania. I reached the top 5% of 50 million players. I also have played on one of the Northeastern University Teams.
			  </li>
			  <li>
				  <b>Investing</b> I consider myself quite financially savvy despite my age I think I've always been very good at managing resources. I consistently invest in portfolios
				  including many assets from bonds to bitcoin. It's robo-traded and therefore automatically balances itself. I obtained most of the fundamentals from a book called the
				  the intelligent investors and I'm looking into arbitrage opportunities using flash loans and may look to learn technical analysis but I don't have the time at the moment
				  as my focus is obtaining my engineering degree and running a side business.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Project</h3>
		  <ul>
  			<li>
          Currently in the processing of designing and implementing a food spoilage detection system with bluetooth support and a mobile application.
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           		Hispanic Scholarship Fund Scholar
  			</li>
  			<li>
				Active member of The Japanese Culture Club.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
