<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Learning skills</b>. I have a very competitive nature and I love feeling immersed in my hobbies. When I see someone do something impressive I think
				  of how amazing it must feel to accomplish such a feat. I find joy in working towards what I think will feel amazing to accomplish. Below are two examples of current active hobbies
				  (actual list is much too long).
			  </li>
			  <li>
				  <b>Rocket League</b>. A Competitive video game that is essentially car soccer with a high skill ceiling. Estimated 50 million players worldwide with professional
				  leagues in EU, Brazil, NA, and Oceania. I reached the top 5% of 50 million players. I also have played on one of the Northeastern University Teams.
			  </li>
			  <li>
				  <b>Soccer</b> I play soccer primarily to de-stress and stay active. I particularly enjoy free kicks but I also partake in pick up games. I grew up essentially outdoors so getting
				  out and getting some fresh air at least a few times a week (weather permitting) is a must.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Project</h3>
		  <ul>
  			<li>
          Currently (11/2/2019) in the processing of designing and implementing a reduced instruction set computer (processor) in Verilog.
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Hispanic Scholarship Fund Scholar
  			</li>
  			<li>
  			  Active member of The Japanese Culture Club.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
